{%extends "teacher/base_site.html"%}

{%block pagecontent%}


    <div class="container panel-custom">
      <div class="panel panel-default">
          <div class="panel-heading">
               <ol class="breadcrumb">
                 <li><a href="main.html">选课首页</a></li>
                 <li class="active">课程简介</li>
               </ol>
          </div>
      <div class="panel-body">
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <img class="img-responsive" src="/static/img/pic1.jpg">
              </div>
              <div class="col-md-6">
                <h2>软件工程</h2>
                <p class="course-intro">软件工程是一门研究用工程化方法构建和维护有效的、实用的和高质量的软件的学科。它涉及到程序设计语言、数据库、软件开发工具、系统平台、标准、设计模式等方面。在现代社会中，软件应用于多个方面。典型的软件有电子邮件、嵌入式系统、人机界面、办公套件、操作系统、编译器、数据库、游戏等。同时，各个行业几乎都有计算机软件的应用，如工业、农业、银行、航空、政府部门等。这些应用促进了经济和社会的发展，也提高了工作和生活效率。</p>

                <h3>研究领域</h3>
                <pre>
软件架构
软件设计方法
软件领域建模
软件工程决策支持
软件工程教育
软件测试技术
自动化的软件设计和合成
基于组件的软件工程
计算机支持的协同工作
编程语言和软件工程
计算机网络
信息与通信安全
计算机图形学与人机交互
多媒体技术应用
人工智能与识别
嵌入式软件与应用
自动控制
分布式计算与网格计算
云计算技术
存储技术
数据库技术研究
计算机辅助设计与应用技术
大数据分析与处理
                </pre>
              <div>
                <button type="button" class="btn btn-success btn-lg btn-block">就选他啦</button>
              </div>
              </div>

            </div>


        </div>
      </div>
      </div>
    </div>

    {% endblock%}
