{%extends "base_site.html"%}


{%block pagecontent%}


                    各位同学：
根据《2012-2013学年第2学期课程选课通知》规定，学校将于本学期初开通专业选修课和全校性公共复合拓展课的补、退选功能。
一、专业选修课补退选阶段（2013年2月26日8：00-3月10日23：00）
同学们可以根据个人的实际情况，结合上学期修读的专业选修课通过情况，在开学第一周进行专业选修课（包括专业预选课程）的补退选。补选时，只能选仍有选课余量的课程，跨年级选课功能也将开放；退选时，达到开班基数下限后不能退选。
二、全校性公共复合拓展课试听阶段（2013年2月26日8：00-3月10日23：00）
对于全校性公共复合拓展课可在开学第1、2周试听，根据试听情况，学生可在该阶段结束前退选（达到开班基数下限后不能退选）、补选开设的公共选修课程，但只能选择未选满的课程。
三、选课注意事项：
1.选课方法见选课手册。
2.在退选时，务必查看个人课表和已选课程列表，看退选是否成功；
3.选课截止后，学生将不能再进行退选和补选，学生不得到任课教师处添加名单，任课教师也不得擅自接受学生修改选课名单的申请。
四、选课咨询电话
专业课选课可向所在学院（系）教务员咨询
C类外语课程选课咨询电话：0571-85070676 施老师
教务处选课咨询电话：0571-85070129 于老师
教务处
2013-2-25



{%endblock%}
